<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%> 
<body>
    <div class="bg-dark text-light d-flex flex-column p-5" style="height: 100vh;">
        <h1><%= message %></h1>
        <h2><%= status %></h2>
        <div class="bg-light mt-5 p-5">
            <pre><%= stack %></pre>

        </div>
    </div>

</body>
</html>


